# Documentation on the structure of this file
# https://confluence.coinbase-corp.com/display/INFRA/Heimdall+CODEOWNERS

#~ {"path": "*", "teams": {"@bootcamp/bootcamp-project": {"required_reviews": 1}}}
* @bootcamp/bootcamp-project