# Documentation on the structure of this file
# https://confluence.coinbase-corp.com/display/INFRA/Heimdall+CODEOWNERS

#~ {"path": "*", "teams": {"@infra/dev-platform": {"required_reviews": 1}}}
* @infra/dev-platform